
.top-nav {
  width: 100%;
  position: absolute;
}


 .landing-select{
    border: 0px !important;
    width: 12vw !important;
    font-size: 20px !important;
    padding-top: 3px !important;
    border-color: #ffffff !important;
    outline:none !important;
  }
  .landing-select {
    border-color: #ffffff !important;
    outline:none !important;
  }
  .landing-select select:focus  {
    border-color: #ffffff !important;
    outline:none !important;
  }
  .landing-select {
    height:2em !important;
  }
  .rounded-full.p-3.getStarted {
    border-color: #ffdf00;
    border: 1px solid #ffdf00;
  }
  .rounded-full.p-3.getStarted:hover{
    color:#ffdf00;
  }
  div.nav-bg{
    display: inline-flex;
    height: 12vh;
    align-items: center;
    flex-shrink: 0;
    background: linear-gradient(91deg, #FEB800 30.8%, #FFF200 63.61%);
    padding:0% 5%;
  };
  img .featured-img {
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
  }
  button.units_btn{
    height:1%;
  }

.px-5.py-1.bg-tt_black.inline-block.rounded-full.shadow.font-bold.text-white {
  margin: 0px auto;
}
.card-container{
  border-radius: 20px;
}
.bg-featured_card_bg.p-2{
  border-radius: 0px 0px 20px 20px;
}
.w-96.mr-5.shadow.card-container {
  box-shadow: 10px 10px 5px #828282;
}
.featured-properties-title{
  margin: 0px auto;
  text-align: center;
}
.logo{
  height:10vh;
}
footer{
  height: 40vh;
}
/* Homepage Slider */

.background-container {
  width: 100vw;
  height: 70vh;
  background: url('http://127.0.0.1:5500/herobanner.jpg') center/cover no-repeat; /* Set your image URL here */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  padding: 20px;
  border-radius: 10px;
  margin-top: 10%;
}

h1, p {
  margin: 0;
}

.intro {
  position: relative;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: content-box;
  display: inline-block;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.ms-header__title {
width: 100%;
font-weight: bold;
color: #fff;
}

.ms-slider {
display: inline-block;
color: #ffb300;
overflow: hidden;
}
.ms-slider__words {
display: inline-block;
margin: 0;
padding: 0;
list-style: none;
-webkit-animation-name: wordSlider;
        animation-name: wordSlider;
-webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
-webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
-webkit-animation-duration: 10s;
        animation-duration: 10s;
}
.ms-slider__word {
display: block;

text-align: left;
}
.content ul {
  list-style: disc outside;
  margin-left: 0;
  margin-top: 0;
}

.content h1 {
  font-size: 3em;
  margin-bottom: 0;
}
.content h1:not(:first-child) {
  margin-top: 0 !important;
}
.text-4xl.heading1 {
  color: #fff;
}

@-webkit-keyframes wordSlider {
0%, 27% {
  transform: translateY(0%);
}
33%, 60% {
  transform: translateY(-25%);
}
66%, 93% {
  transform: translateY(-50%);
}
100% {
  transform: translateY(-75%);
}
}

@keyframes wordSlider {
0%, 27% {
  transform: translateY(0%);
}
33%, 60% {
  transform: translateY(-25%);
}
66%, 93% {
  transform: translateY(-50%);
}
100% {
  transform: translateY(-75%);
}
}











